* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho {
    background-color: #32415A;
    display: flex;
    align-items: center;
    height: 8vh;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cabecalho a {
    display: block;
    max-height: 100%;
}

#cabecalho img{
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.container-pesquisa{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilizando os Campos */
.custom-input {
    width: 50vw;
    max-width: 800px;
    min-width: 180px;
    height: 8vh;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.custom-input:focus {
    border-color: #007BFF;
}

/* Estilizando os Botões */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    margin-top: 10px;
    max-width: 800px;
}

.custom-button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.custom-button:hover {
    background-color: #FF8C00;
}

.flexCentralizado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formsAvaliacao {
    flex-direction: column;
}

.linhaAvaliacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 40vw;
}
#campos-escritos{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 680px){
    .button-group{
        flex-direction: column;
        gap: 10px
    }
}